.btn {
  border-radius: 25px;
  background: linear-gradient(95deg, #4499d9 17.46%, #7367be 87.77%);
  transition: all 300ms ease;

  color: #fff;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  padding: 13px 14px 14px 19px;
}

.btn:hover {
  box-shadow: 0 3px 10px 0 #9b9b9b;
  background-position: left top;
}
