header {
  padding: 10px 134px 0 139px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

nav > ul {
  color: #446381;
  font-size: 18px;
  line-height: 24px;

  display: flex;
  width: 355px;
  justify-content: space-between;
  margin-right: 55px;
  cursor: pointer;
}

.navWrapper {
  display: flex;
  align-items: center;
}
