footer {
  border-top: 1.5px solid rgba(129, 111, 140, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 143px 0 132px;
}

footer > img {
  width: 238.78px;
  height: 65px;
}

footer > p {
  color: #826f8c;
  font-size: 16px;
  line-height: 28px;
  padding-top: 13px;
}

.social {
  display: flex;
  padding-top: 10px;
  margin-left: 60px;
}

.social div {
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: #fcd8cb;
  border-radius: 100%;
  margin-left: 19px;
  transition: all 500ms ease;
  cursor: pointer;
}

.social div:hover {
  background-color: #80220071;
}
